.a
{
    margin-left:10px;
    
}

.aa
{
    margin-left:20px;
    
}

.b
{
    margin-bottom:10px;
}


.c
{

    margin-left:150px;
}

.cd
{

    margin-left:200px;
}

.offer
{
    margin-left:1000px;
}

.a1
{
    margin-top:100px;
}

.color
{
    background-color:silver;
}

.color1
{
    background-color:                                                                                                                                                                       `;
}
.card
{
    margin-left:150px;
}

